 /*Dev - Raymond*/

body {
    background-color: beige;
}
  /*Esta linea para borrar bollet*/
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/*** Editar Fotos ***/
#mobile {
    padding: 0;
    margin: 400;
    
}
#desktop {
    padding: 0;
    margin: 0;
}
#all {
    padding: 0;
    margin: 400;
}

/*** Editar Logos Social ***/
#social {
    
}

.social-icon {
    max-width: 5%;
}